.footer {

    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #3c3744;
    color: black;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.footer h2 {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}

.footer img {
    height: 70px;
}