.footer {
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lavender;
    color: black;
    border-top: 2px solid #444444;
    padding-block: 0.1rem;
    bottom: 0;

}

.footer h2 {
    font-size: 1rem;
    font-weight: 400;
}